%h3 #{@user.name}
%p
  - if @user.email
    %b Email:
    = link_to @user.email, "mailto:#{@user.email}"
- if @user.videos.size == 0
  %p 
    %b User has no videos.
- else
  %p 
    %b User videos:
  = render 'videos/video', :videos => @user.videos