.text-center
  %h1 
    = (@videos.size > 0) ? 'Your Current YouTube Videos' : 'No Current Videos'
= link_to 'New YouTube Video', new_video_path , :class => 'btn btn-success'
= render 'videos/video', :videos => @videos