= image_tag('/assets/tv.png', :style=>'float:right')
%h2 Share Videos For Your Cause
%p Collect your own favorite YouTube videos and share them with your friends!
-#- @users.each do |user|
-#  %p
-#    User: #{link_to user.name, user}
