/*** fonts ***/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot'),
       url('/assets/glyphicons-halflings-regular.svg'),
       url('/assets/glyphicons-halflings-regular.ttf'),
       url('/assets/glyphicons-halflings-regular.woff')
}

/***** variables *****/

$vs_blue  : #83dcfe;
$vs_green : #090;
$vs_red   : #e41f28;
$vs_navy  : #2b4596;
$vs_orange: #f79a41;
$vs_logo_font  : 'Audiowide';
$vs_font       : 'Raleway';

/***** main *****/

body {
  background-color: $vs_red;
  padding-top: 50px;
  font-family: $vs_font, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 18px;
}

/***** navbar *****/

.navbar.navbar-inverse {
  border-radius: 0;
  position:fixed;
  top: 0; left: 0;
  width: 100%;
  min-height: 50px;
  .navbar-inner {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 !important;
    position:relative;
    .nav.navbar-right {
      float: right !important;
    }
  }
  .navbar-toggle {
    margin-right: -5px;
  }
  .navbar-collapse {
    position:relative;
    padding-right: 0;
  }
  .brand {
    background: url('/assets/header-icon.png') 0 9px no-repeat;
    color: #fff;
    font-family: $vs_logo_font, 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
    font-size: 32px;
    margin-left: 5px;
    padding-left: 45px;
    position:relative;
    z-index:1000;
  }
  .brand, ul.nav > li > a {
    padding-top: 15px;
    padding-bottom: 14px;
    line-height: 20px;
  }
  .menu-icon {
    color: #fff;
  }
  .username {
    position: relative;
    padding: 10px 0;
  }
  ul.usermenu {
    margin-left: 0;
    position: absolute;
    background-color:#ececec;
    width:120px;
    list-style:none;
    right: 0;
    top: 50px;
    padding: 2px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px #c9c9c9;
    border-top: 0;
    display: none;
    li {
      text-align:right;
    }
  }
}

/***** navbar ends here *****/

.content {
  background-color: #fff;
  color: #333;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #300;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 300;
}

#notice {
  color: green;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* buttons */

a.btn {
  color: #fff;
  &:hover {
    color:#c9c9c9;
  }
}

/* flash alert */

.alert {
  width: 100%;
  .close {
    right: 5px !important;
  }
}