@media (max-width: 768px) {
	nav.collapse {
		clear: both;
		height: inherit;
		min-height: 48px;
	}
	.navbar.navbar-inverse .navbar-inner {
		.navbar-collapse {
			box-shadow: none !important;
			border-top: 0 !important;
		}
		.nav.navbar-right {
			float: left !important;
			width: 100%;
			li { 
				width: 100%; 
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
			}
		}
		a.username {
			display: inline-block;
			float:left;
		}
		ul.usermenu {
			display: inline-block;
			position: relative;
			height: 48px;
			margin: 0 !important;
			top: 0 !important;
			width: 100%;
			border-radius: 5px;
			li {
				float: left;
				display: inline-block;
				width: 100px !important;
				text-align: left;
				padding-top: 10px;
			}
		}	
	}
}