body {
  background-color: #fff;
  padding-top: 50px;
  color: #006ccc;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-size: 300;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight:300;
}

#notice {
  color: green;
}

.content {
  margin: 0 -40px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* buttons */

a.btn {
  color: #fff;
  &:hover {
    color:#c9c9c9;
  }
}

/* navbar */

.navbar {
  position:fixed;
  top: 0; left: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .brand {
    color: #fff;
    font-family: 'Audiowide', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-serif';
    font-size: 32px;
  }
  .username {
    position: relative;
    padding: 10px 0;
  }
  ul.usermenu {
    margin-left: 0;
    position: absolute;
    background-color:#fff;
    width:120px;
    list-style:none;
    right: 0;
    top: 48px;
    padding: 2px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px #c9c9c9;
    border-top: 0;
    display: none;
    li {
      text-align:right;
    }
  }
}

/* flash alert */

.alert {
  width: 100%;
  .close {
    right: 5px !important;
  }
}